@model OrderViewModel
@{
    ViewData["Title"] = "Add";
    //string type = "";
}


<div class="bg-light rounded my-4 row">
    <h2 class="p-4 fw-bold">اضافة طلب جديد</h2>
</div>




<div class="row  bg-light rounded my-4">
    <div class="col-md-12">

        <form asp-controller="Order" asp-action="Add" class="" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger col-md-12"></div>

            <div class="form-group col-md-4 p-3">
                <label asp-for="ShippingType">النوع</label>
                <select class="form-control" asp-for="Type">
                    @foreach (var item in Enum.GetValues(typeof(Shipping.Models.Type)))
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
            <div class="d-flex flex-wrap">
                <div class="form-group col-md-4 p-3">
                    <label asp-for="ClientName">اسم العميل</label>
                    <input type="text" class="form-control" asp-for="ClientName">
                    <span asp-validation-for="ClientName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 p-3">
                    <label asp-for="ClientPhoneNumber1">رقم العميل</label>
                    <input type="text" class="form-control" asp-for="ClientPhoneNumber1">
                    <span asp-validation-for="ClientPhoneNumber1" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 p-3">
                    <label asp-for="ClientPhoneNumber2">رقم بديل للعمبل</label>
                    <input type="text" class="form-control" asp-for="ClientPhoneNumber2">
                    <span asp-validation-for="ClientPhoneNumber2" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 p-3">
                    <label asp-for="ClientEmail">البريد الاليكتروني</label>
                    <input type="text" class="form-control" asp-for="ClientEmail">
                    <span asp-validation-for="ClientEmail" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4 p-3">
                    <label asp-for="StateName">المحافظة</label>
                    <select id="state" name="stateId" class="form-control" asp-for="StateName">
                        <option value="">Select a state</option>
                        @foreach (var state in ViewBag.States)
                        {
                            <option value="@state.Name">@state.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group col-md-4 p-3">
                    <label asp-for="CityName">المدينة</label>
                    <select id="city" asp-for="CityName" class="form-control">
                        <option value="">Select a city</option>
                    </select>
                </div>
                <div class="form-group col-md-4 p-3">
                    <label asp-for="StreetName">الشارع والقرية</label>
                    <input type="text" class="form-control" asp-for="StreetName">
                    <span asp-validation-for="StreetName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 p-5">
                    <input class="form-check-input" type="checkbox" asp-for="IsVillage">
                    <label asp-for="IsVillage">التوصيل لقرية</label>
                    <br />
                    <span asp-validation-for="StreetName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 p-3">
                    <label asp-for="ShippingType">نوع الشحن</label>
                    <select class="form-control" asp-for="ShippingType">
                        @foreach (ShippingType item in Enum.GetValues(typeof(ShippingType)))
                        {
                            <option value="@item">@item</option>

                        }
                    </select>
                </div>
                <div class="form-group col-md-4 p-3">
                    <label asp-for="PaymentType">نوع الدفع</label>
                    <select class="form-control" asp-for="PaymentType">
                        @foreach (PaymentType item in Enum.GetValues(typeof(PaymentType)))
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </div>

                <div class="form-group col-md-4 p-3">
                    <label asp-for="BranchId">الفرع</label>
                    <select class="form-control" asp-for="BranchId">
                        @foreach (Branch item in ViewBag.Branches)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    
                </div>

                <div class="form-group  col-md-8 p-3">
                    <a class="btn btn-primary">اضافة منتج</a>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>اسم المنتج</th>
                            <th>الكمية</th>
                            <th>الوزن</th>
                            <th>حذف</th>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4"></div>

                <div class="form-group col-md-4 p-3">
                    <label asp-for="OrderCost">تكلفة الطلب</label>
                    <input type="text" class="form-control" asp-for="OrderCost">
                    <span asp-validation-for="OrderCost" class="text-danger"></span>
                </div>
                
                <div class="form-group col-md-4 p-3">
                    <label asp-for="TotalWeight">اجمالي الوزن (كجم)</label>
                    <input type="text" class="form-control" asp-for="TotalWeight">
                    <span asp-validation-for="TotalWeight" class="text-danger"></span>
                </div>

            </div>

            <div class="m-3" style="position: relative;height: 10vh;">
                <button type="submit" class="btn btn-primary px-3 " style="position: absolute;left: 0;bottom: 15%;">اضافة</button>
            </div>
        </form>
    </div>
</div>



@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


    <script>
        $(document).ready(function () {
            var stateDropdown = $('#state');
            var cityDropdown = $('#city');

            stateDropdown.on('change', function () {
                var selectedState = stateDropdown.val();

                cityDropdown.empty();

                $.ajax({
                    url: '/Order/GetCitiesByState',
                    type: 'GET',
                    data: { state: selectedState },
                    success: function (result) {  
                        $.each(result, function (index, city) {
                            cityDropdown.append($('<option></option>').val(city).text(city));
                        });
                    },
                    error: function () {
                        console.log('Failed to retrieve cities.');
                    }
                });
            });
        });

    </script>

}

