@model OrderViewModel
@{
    ViewData["Title"] = "تعديل";
}


<div class="bg-light rounded my-4 row">
    <h2 class="p-4 fw-bold">تعديب الطلب</h2>
</div>




<div class="row  bg-light rounded my-4">
    <div class="col-md-12">

        <form asp-controller="Order" asp-action="Edit" class="" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger col-md-12"></div>

            <div class="form-group col-md-4 p-3">
                <label asp-for="ShippingType">النوع</label>
                <select class="form-control" asp-for="Type">
                    @foreach (var item in Enum.GetValues(typeof(Shipping.Models.Type)))
                    {
                        <option value="@item">@item</option>

                    }
                </select>
            </div>
            <div class="d-flex flex-wrap">
                <div class="form-group col-md-4 p-3">
                    <label asp-for="ClientName">اسم العميل</label>
                    <input type="text" class="form-control" asp-for="ClientName">
                    <span asp-validation-for="ClientName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 p-3">
                    <label asp-for="ClientPhoneNumber1">رقم العميل</label>
                    <input type="text" class="form-control" asp-for="ClientPhoneNumber1">
                    <span asp-validation-for="ClientPhoneNumber1" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 p-3">
                    <label asp-for="ClientPhoneNumber2">رقم بديل للعمبل</label>
                    <input type="text" class="form-control" asp-for="ClientPhoneNumber2">
                    <span asp-validation-for="ClientPhoneNumber2" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 p-3">
                    <label asp-for="ClientEmail">البريد الاليكتروني</label>
                    <input type="text" class="form-control" asp-for="ClientEmail">
                    <span asp-validation-for="ClientEmail" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4 p-3">
                    <label asp-for="StateName">المحافظة</label>
                    <select id="state" name="stateId" class="form-control state" asp-for="StateName">
                        <option value="">Select a state</option>
                        @foreach (var state in ViewBag.States)
                        {
                            <option value="@state.Name">@state.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group col-md-4 p-3">
                    <label asp-for="CityName">المدينة</label>
                    <select id="city" asp-for="CityName" class="form-control">
                        <option value="">Select a city</option>
                        @foreach (var city in ViewBag.Cities)
                        {
                            <option value="@city">@city</option>
                        }
                    </select>
                </div>
                <div class="form-group col-md-4 p-3">
                    <label asp-for="StreetName" required>الشارع والقرية</label>
                    <input type="text" class="form-control" asp-for="StreetName">
                    <span asp-validation-for="StreetName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 p-5">
                    <input class="form-check-input" type="checkbox" asp-for="IsVillage">
                    <label asp-for="IsVillage">التوصيل لقرية</label>
                    <br />
                    <span asp-validation-for="StreetName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 p-3">
                    <label asp-for="ShippingType">نوع الشحن</label>
                    <select class="form-control" asp-for="ShippingType">
                        @foreach (ShippingType item in Enum.GetValues(typeof(ShippingType)))
                        {
                            <option value="@item">@item</option>

                        }
                    </select>
                </div>
                <div class="form-group col-md-4 p-3">
                    <label asp-for="PaymentType">نوع الدفع</label>
                    <select class="form-control" asp-for="PaymentType">
                        @foreach (PaymentType item in Enum.GetValues(typeof(PaymentType)))
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </div>

                <div class="form-group col-md-4 p-3">
                    <label asp-for="BranchName">الفرع</label>
                    <select class="form-control" asp-for="BranchName" required>
                        @foreach (Branch item in ViewBag.Branches)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    </select>

                </div>

                <div class="form-group  col-md-8 p-3">
                    <a id="add-product-btn" class="btn btn-primary">اضافة منتج</a>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>اسم المنتج</th>
                                <th>الكمية</th>
                                <th>الوزن</th>
                                <th>حذف</th>
                            </tr>
                        </thead>
                        <tbody id="products-table-body">
                            @for (int i = 0; i < Model.orderProducts.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <input name="orderProducts[@i].ProductName" value="@Model.orderProducts[i].ProductName" class="form-control" type="text">
                                    </td>
                                    <td>
                                        <input name="orderProducts[@i].ProductQuantity" value="@Model.orderProducts[i].ProductQuantity" class="form-control" type="number">
                                    </td>
                                    <td>
                                        <input name="orderProducts[@i].Weight" value="@Model.orderProducts[i].Weight" class="form-control" type="text">
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" onclick="removeRow(this)">حذف</button>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="col-md-4"></div>

                <div class="form-group col-md-4 p-3">
                    <label asp-for="OrderCost">تكلفة الطلب</label>
                    <input type="text" class="form-control" asp-for="OrderCost">
                    <span asp-validation-for="OrderCost" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4 p-3">
                    <label asp-for="TotalWeight">اجمالي الوزن (كجم)</label>
                    <input type="text" class="form-control" asp-for="TotalWeight">
                    <span asp-validation-for="TotalWeight" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 p-3">
                    <label asp-for="Notes">ملاحظات</label>
                    <input type="text" class="form-control" asp-for="Notes">
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
            </div>

            <div class="m-3" style="position: relative;height: 10vh;">
                <button type="submit" class="btn btn-success px-3 " style="position: absolute;left: 0;bottom: 15%;">حفظ</button>
            </div>
        </form>
    </div>
</div>



@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


    <script>
        $(document).ready(function () {
            var stateDropdown = $('#state');
            var cityDropdown = $('#city');

            stateDropdown.on('change', function () {
                var selectedState = stateDropdown.val();

                cityDropdown.empty();

                $.ajax({
                    url: '/Order/GetCitiesByState',
                    type: 'GET',
                    data: { state: selectedState },
                    success: function (result) {
                        $.each(result, function (index, city) {
                            cityDropdown.append($('<option></option>').val(city).text(city));
                        });
                    },
                    error: function () {
                        console.log('Failed to retrieve cities.');
                    }
                });
            });
        });

    </script>
    <script>
        function removeRow(element) {
            $(element).closest("tr").remove();
        }
    </script>

    <script>

        $(document).ready(function () {
            $("#add-product-btn").click(function () {
                addProductRow();
            });
        });

        function addProductRow() {
            var tableBody = $("#products-table-body");
            var index = tableBody.children().length;


            var newRow = $("<tr>");
            newRow.append($("<td>").append($("<input>").attr("name", "orderProducts[" + index + "].ProductName").attr("class", "form-control").attr("type", "text")));
            newRow.append($("<td>").append($("<input>").attr("name", "orderProducts[" + index + "].ProductQuantity").attr("class", "form-control").attr("type", "number")));
            newRow.append($("<td>").append($("<input>").attr("name", "orderProducts[" + index + "].Weight").attr("class", "form-control").attr("type", "number").on("input", function () {

                var totalWeight = 0;
                tableBody.find("input[name$='.Weight']").each(function () {
                    totalWeight += parseInt($(this).val()) || 0;
                });

                // Set the total weight in the input field
                $("#TotalWeight").val(totalWeight);
            })));
            newRow.append($("<td>").append($("<button>").attr("type", "button").attr("class", "btn btn-danger").text("حذف").click(function () {
                $(this).closest("tr").remove();

                // Recalculate the total weight of the products
                var totalWeight = 0;
                tableBody.find("input[name$='.Weight']").each(function () {
                    totalWeight += parseInt($(this).val()) || 0;
                });

                // Set the total weight in the input field
                $("#TotalWeight").val(totalWeight);
            })));

            // Add the new row to the table body
            tableBody.append(newRow);
        }

    </script>

}

