@model OrderViewModel
@{
    ViewData["Title"] = "OrderReicept";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="order-receipt text-center" id="order-receipt">
                <div>
                    <h1>تقرير الطلب رقم @Model.Id</h1>
                    <a id="print-button" class="btn btn-outline-primary m-4 px-5 d-block" onclick="printOrder()">طباعة</a>
                </div>
                <p>التاريخ :  @Model.OrderDate</p>
                <p>اسم العميل : @Model.ClientName</p>
                <p>رقم العميل : @Model.ClientPhoneNumber1</p>
                <p>رقم بديل العميل : @Model.ClientPhoneNumber2</p>

                <p>نوع الدفع : @Model.PaymentType</p>
                <p>نوع التوصيل : @Model.ShippingType</p>
                <p>الفرع : @Model.BranchName</p>

                <p>المدينة : @Model.CityName</p>
                <p>الشارع والقرية : @Model.StreetName</p>
                <p>وزن الطلب : @Model.TotalWeight جم</p>

                <h3>المنتجات</h3>
                <table class="table table-bordered table-hover">
                    <thead>
                        <th>الاسم</th>
                        <th>الكمية</th>
                        <th>الوزن</th>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.orderProducts)
                        {
                            <tr>
                                <td>@item.ProductName</td>
                                <td>@item.ProductQuantity</td>
                                <td>@item.Weight</td>
                            </tr>
                        }
                    </tbody>
                </table>
                

                <p>سعر الطلب : @Model.OrderCost</p>
                <p>سعر التوصيل : @Model.ShippingCost</p>
                <p>السعر النهائي : @Model.TotalCost</p>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        function printOrder() {
            document.getElementById("print-button").style.display = "none";
            var printWindow = window.open('', '', 'height=500,width=800');
            printWindow.document.write('<html><head><title>' + document.title + '</title>');
            printWindow.document.write('</head><body style="text-align:center">');
            printWindow.document.write(document.getElementById('order-receipt').innerHTML);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
            document.getElementById("print-button").style.display = "block";

        }
    </script>

}