@model List<State>
@{
    ViewData["Title"] = "Index";
}

<h3 class="display-4">المحافظات</h3>


<div class=" py-2 rounded">
    <div class="row container d-flex">
        
        <div class="col-2 ">
            <a asp-action="Add" class="btn btn-primary">اضافة محافظة جديدة</a>
        </div>
    </div>

</div>
<div class=" p-2 px-4 rounded">
    <div class="row ">
        
        <div class="col-2">
            <form method="get" action="/State/Search">
                <div>
                    <label>بحث</label>
                    <input type="text" name="query" id="Name" class="form form-control" />
                    <input type="submit" value="بحث" class="btn btn-primary m-1" />
                </div>

            </form>
        </div>
    </div>
    <table class="table table-hover table-bordered text-center my-4">
        <tr style="background-color:#ddd;">
            <th>
                الاسم
            </th>
            <th>
                الحاله
            </th>
            <th>
                الاعدادات
            </th>


        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td class="form-switch">
                    <input class="form-check-input" type="checkbox" asp-for="@item.Status" data-id="@item.Id" onchange="changeState(this)" checked="@item.Status">
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">تعديل</a>
                    <a asp-controller="City" asp-action="Add" asp-route-stateId="@item.Id" class="btn btn-success">اضافة مدينة</a>
                    <a asp-controller="City" asp-action="Index" asp-route-stateId="@item.Id" class="btn btn-success">المدن</a>

                </td>
            </tr>
        }
    </table>
</div>






@section Scripts {
    <script>
        function changeState(checkbox) {
            var id = $(checkbox).data('id');
            var status = checkbox.checked;
            $.ajax({
                url: '@Url.Action("ChangeState", "State")',
                type: 'POST',
                data: { id: id, status: status },
                success: function () {
                    console.log('State changed successfully!');
                },
                error: function () {
                    console.log('Failed to change state!');
                }
            });
        }
    </script>
}