@inject IAuthorizationService AuthorizationService
@model IEnumerable<ApplicationRole>

@{
    ViewData["Title"] = "List of Roles";
    int counter = 0;
}

<h3 class="display-4">المجموعات</h3>

@if (Model.Any())
{
    

    @using (Html.BeginForm("Search", "Administration", FormMethod.Get))
    {
        
        <input type="text" name="query" />
        <input type="submit" class="btn btn-primary" value="بحث" />
    }

    @if (AuthorizationService.AuthorizeAsync(User, Permissions.Controls.Create).Result.Succeeded)
    {
        <a asp-controller="Administration" asp-action="CreateRole" class="btn btn-primary mb-3 float-start">اضافه مجموعه</a>
    }

    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th>#</th>
                <th>اسم المجموعه</th>
                <th>تاريخ الاضافه</th>
                <th>الاعدادات</th>

            </tr>
        </thead>
        <tbody>


            @foreach (var role in Model)
            {
                counter++;
                <tr>
                    <td>@counter</td>
                    <td>@role.Name</td>
                    <td>@role.Date</td>
                    @if (role.Name == "Admin")
                    {
                        <td></td>
                        continue;
                    }
                    <td style="width: 500px;">
                        <form method="post" asp-controller="Administration" asp-action="DeleteRole" asp-route-RoleId="@role.Id">
                            @if (AuthorizationService.AuthorizeAsync(User, Permissions.Controls.Edit).Result.Succeeded)
                            {
                                <a asp-controller="Administration" asp-action="EditRole" asp-route-id="@role.Id">
                                    <i class="fa-solid fa-pen-to-square fa-2x text-warning"></i>
                                </a>
                                
                            }
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-controller="Administration" asp-action="ManagePermissions" asp-route-roleId="@role.Id">
                                    <i class="fa-solid fa-gear fa-2x text-primary"></i>
                                </a>
                            }
                            @if (AuthorizationService.AuthorizeAsync(User, Permissions.Controls.Delete).Result.Succeeded)
                            {
                                <span id="DeleteSpan_@role.Id" style="cursor:pointer">
                                    <a onclick="confirmDelete('@role.Id',true)">
                                        <i class="fa-solid fa-trash-can fa-2x text-danger"></i>
                                    </a>
                                </span>
                                
                                <span id="ConfirmDeleteSpan_@role.Id" style="display:none">
                                    <div style="">
                                        هل تريد الحذف فعلا؟
                                        <button type="submit" class="btn btn-danger"style="padding: 3px;">Yes</button>
                                        <a onclick="confirmDelete('@role.Id',false)" class="btn btn-primary" style="padding: 3px;">No</a>
                                    </div>
                                    
                                </span>
                            }


                        </form>
                    </td>
                   
                </tr>


            }


        </tbody>
    </table>




}
else
{
    <div class="card mb-2">
        <div class="card-header">
            No roles created yet.
        </div>
        <div class="card-body">
            <h5 class="card-title">Use the button blow to create the role</h5>
            <a asp-controller="Administration" asp-action="CreateRole" class="btn btn-primary">Create Role</a>
        </div>
    </div>

}
