@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "List of Roles";
}

<h3 class="display-4">All Roles</h3>

@if(Model.Any())
{
    <a asp-controller="Administration" asp-action="CreateRole" class="btn btn-primary mb-3">Add New Role</a>
    
    foreach (var role in Model)
    {
        <div class="card mb-2">
            <div class="card-header">
                Role Id : @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">

                <form method="post" asp-controller="Administration" asp-action="DeleteRole" asp-route-RoleId="@role.Id">

                    <a asp-controller="Administration" asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-primary">Edit</a>
                    <a asp-controller="Administration" asp-action="ManagePermissions" asp-route-roleId="@role.Id" class="btn btn-primary">ManagePermissions</a>
                    
                    <span id="DeleteSpan_@role.Id">
                        <a onclick="confirmDelete('@role.Id',true)" class="btn btn-danger">Delete</a>
                    </span>
                    <span id="ConfirmDeleteSpan_@role.Id" style="display:none">
                        <span>Are you sure you want to delete this role ? </span>
                        <button type="submit" class="btn btn-danger">Yes</button>
                        <a onclick="confirmDelete('@role.Id',false)" class="btn btn-primary">No</a>
                    </span>
                    
                </form>
            </div>
        </div>
    }
   
}
else
{
    <div class="card mb-2">
        <div class="card-header">
            No roles created yet.
        </div>
        <div class="card-body">
            <h5 class="card-title">Use the button blow to create the role</h5>
            <a asp-controller="Administration" asp-action="CreateRole" class="btn btn-primary">Create Role</a>
        </div>
    </div>

}