@model List<UserRoleViewModel>

@{
    ViewData["Title"] = "List of Users";
    var Roles = ViewBag.Roles;
}

<h3 class="display-4">All Users</h3>

<table class="table table-bordered table-hover">
    <tr>
        <th>User Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {

        if (item.UserName == "admin")
            continue;

        <tr>
            <td>@item.UserName</td>
            <td>@item.Address</td>
            <td>@item.Email</td>
            <td>@item.PhoneNumber</td>
            <td>

                <select class="form-select role-select" data-user-id="@item.Id">
                    @foreach (var role in Roles)
                    {
                        if (role.Name == "Admin")
                            continue;
                        <option value="@role.Id" selected="@(role.Id == item.RoleId)">@role.Name</option>
                    }
                </select>
            </td>
            <td>
                <a class="btn btn-danger delete-btn" data-user-id="@item.Id">Delete</a>
            </td>
        </tr>

    }


</table>


@section Scripts{

    <script>
        $(document).ready(function () {
            $('.role-select').change(function () {
                var userId = $(this).data('user-id');
                var roleId = $(this).val();

                $.ajax({
                    url: '/Administration/UpdateUserRole',
                    type: 'POST',
                    data: { userId: userId, roleId: roleId },
                    success: function (response) {
                        
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });
        });


        //$(document).ready(function () {
        //    $('.delete-btn').click(function () {
        //        var userId = $(this).data('user-id');

        //        if (confirm('Are you sure you want to delete this user?')) {
        //            $.ajax({
        //                url: '/Administration/DeleteUser',
        //                type: 'Delete',
        //                data: { userId: userId },
        //                success: function (response) {
        //                    location.reload();
        //                },
        //                error: function (xhr, status, error) {
        //                    console.error(error);
        //                }
        //            });
        //        }
        //    });
        //});
    </script>

}









