@using Shipping.Constants;
@model PermissionsFormViewModel

@{
    ViewData["Title"] = "Manage Permissions";
}

<form asp-action="ManagePermissions" method="post">
    <div class="card mt-4">
        <div class="card-header">
            <h2>@Model.RoleName</h2>
            Add/Remove Permissions
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="RoleId" />
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th>الصلاحيه</th>
                        <th>عرض</th>
                        <th>اضافه</th>
                        <th>تعديل</th>
                        <th>حذف</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int j = 0; j < Model.RoleCalims.Count; j += 4)
                    {
                        <tr>
                            @foreach (var item in EnglishVsArabic.ModulesInEn_AR)
                            {
                                if (item.Key == Model.RoleCalims[j].DisplayValue.Split('.')[1])
                                {
                                    <td>@item.Value</td>
                                    break;
                                }
                            }
                            
                            @for (int i = 0; i < Model.RoleCalims.Count; i++)
                            {
                                if (@Model.RoleCalims[j].DisplayValue.Split('.')[1] != @Model.RoleCalims[i].DisplayValue.Split('.')[1])
                                { continue; }

                                <td class="">
                                    <div class="form-check m-1 d-flex justify-content-center">
                                        <input type="hidden" asp-for="@Model.RoleCalims[i].DisplayValue" />
                                        <input asp-for="@Model.RoleCalims[i].IsSelected" class="form-check-input" />

                                    </div>
                                </td>

                            }
                        </tr>
                    }
                </tbody>
            </table>
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div style="position:relative">
            <div class="card-footer" style="position:absolute; left:0;top:5px">
            <button type="submit" class="btn btn-primary">حفظ</button>
            <a asp-action="ListRoles" class="btn btn-secondary">الغاء</a>
        </div>
        </div>
        
    </div>
</form>